<h1> All Books </h1>

<% for book in @books %>
<p>Title: <%=book.title()%></p>
<p>Composer: <%=book.composer()%></p>
<p>Publisher: <%=book.publisher_name()%></p>
<p>Price: <%=book.selling_price()%></p>
<p><%=book.stock_indicator()%></p>
<p><a href="/books/<%=book.id%>/show">More info</a></p>
<% end %>

<p><a href="/books/new">Add a new book</a></p>
