<div class="table-heading">
<h1> All Books </h1>
</div>


<% for book in @books %>
<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-acmv">Title:</th>
    <th class="tg-t3rq"><%=book.title()%></th>
  </tr>
  <tr>
    <td class="tg-acmv">Composer:</td>
    <td class="tg-t3rq"><%=book.composer()%></td>
  </tr>
  <tr>
    <td class="tg-acmv">Publisher:</td>
    <td class="tg-t3rq"><%=book.publisher_name()%></td>
  </tr>
  <tr>
    <td class="tg-acmv">Price</td>
    <td class="tg-t3rq">£<%=book.selling_price()%></td>
  </tr>
  <tr>
    <td class="tg-acmv">Stock Level</td>
    <td class="tg-t3rq"><%=book.stock_indicator()%></td>
  </tr>
  <tr>
    <td class="tg-acmv"><a href="/books/<%=book.id()%>/show">More info</a></td>
  </tr>
</table>

</div>
<% end %>
